// Main colors
:root {
  --main-primary-color: #9d37f1;
  --main-primary-monochromatic-color: #6d27a7;
  --main-secondary-color: #444444;
  --main-secondary-monochromatic-color: #9ba5a8;
  --main-white-color: white;
}
