<div class="login-wrapper">
  <h1 class="login-title">Login</h1>
  <form class="login-form" [formGroup]="loginForm">
    <mat-form-field [hideRequiredMarker]="true" class="login-form-input-wrapper">
      <mat-label class="login-label">
        <mat-icon>person</mat-icon> {{'login.username' | translate}}
      </mat-label>
      <input type="text" matInput formControlName="username"
             [placeholder]="'login.username_placeholder' | translate">
      <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
        <span [innerHTML]="'login.user_rq' | translate"></span>
      </mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="true" class="login-form-input-wrapper">
      <mat-label class="login-label">
        <mat-icon>lock</mat-icon> {{'login.password' | translate}}
      </mat-label>
      <input type="password" matInput formControlName="password"
             [placeholder]="'login.password_placeholder' | translate">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        <span [innerHTML]="'login.pass_rq' | translate"></span>
      </mat-error>
      <mat-hint [align]="'end'">{{'login.forgot_password' | translate}}</mat-hint>
    </mat-form-field>
    <button (click)="onLogin()" class="login-form-btn"> {{'login.button' | translate}} </button>
  </form>
  <div class="login-sing-up-icon-wrapper">
    <div>{{'login.or_log_in' | translate}}</div>
    <div class="login-sing-up-icon-logos-wrapper">
      <fa-icon class="login-sing-up-icon" *ngFor="let icon of loginIcons" [icon]="icon"></fa-icon>
    </div>
  </div>
  <div class="login-sign-up-alternative-wrapper">
    <div>{{('login.sign_up' | translate).toUpperCase()}}</div>
  </div>
</div>
